@import "~/assets/css/variables.scss";
.primary-color {
  color: $primaryColor;
}
.primary-color--background {
  background-color: $primaryColor;
}

.bg-color {
  color: $bgColor;
}

.bg-color--background {
  background-color: $bgColor;
}

.gradient {
  color: $gradientColor;
}

.gradient--background {
  background: $gradientColor;
}

.gradient-animation, .gradient-animation-hover {
  background-image: $animationGradiant;
  background-size: 300% 100%;
  -webkit-transition: background-position .4s ease-in-out;
  -o-transition: background-position .4s ease-in-out;
  transition: background-position .4s ease-in-out;
}

.gradient-animation-active, .gradient-animation-hover:hover {
  background-position: 100% 0;
  -webkit-transition: background-position .4s ease-in-out;
  -o-transition: background-position .4s ease-in-out;
  transition: background-position .4s ease-in-out;
}

.underline {
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.7);
}

.primary-color {
  color: $primaryColor;
}

.primary-color--background {
  background-color: $primaryColor;
}

.gradient {
  color: $gradientColor;
}

.gradient--background {
  background: $gradientColor;
}
