@import "~/assets/css/variables.scss";
$contrast: #1F1F1F;
.dark-mode {

    background: $bgColorDark;
    option {
        background:  $bgColorDark
    }
    .v--modal {
        background:  $contrast;
    }
    ul {
        background: $bgColorDark
    }
    h1, h2, h3, h4, p, small, a {
        color: $primaryColorDark;
    }
    ::placeholder {
        color: $primaryColorDark !important;
        opacity: 0.3;
    }
    .bg-color {
        color: $bgColorDark;
    }
    .bg-color--background {
        background-color: $bgColorDark;
    }
    .primary-color {
        color: $primaryColorDark;
        fill: $primaryColorDark;
      }

    .primary-color--background {
        background-color: $primaryColorDark;
    }

    .d-contrast {
        background: $contrast;
    }

}
