@import "~/assets/css/variables.scss";

.clickable {
    cursor: pointer;
}
h1 {
    font-family: $titleFont, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: $primaryColor;
}
h2 {
    font-family: $titleFont, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    color: $primaryColor;
}

h3 {
    font-family: $titleFont, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    color: $primaryColor;
}
p {
    font-family: $bodyFont, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: $primaryColor
}

small {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
