$primaryColor: #4D4D4D;
$gradientColor: linear-gradient(90deg, #DD0890 0%, #DD0890 0.01%, #4B0082 100%);
$titleFont: "Open Sans";
$bodyFont: "Titillium Web";

h1 {
    font-family: $titleFont, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: $primaryColor;

}

p {
    font-family: $bodyFont, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: $primaryColor
}

.primary-color {
    color: $primaryColor;
}
.primary-color--background {
    background-color: $primaryColor;
}

.gradient {
    color: $gradientColor;
}
.gradient--background {
    background: $gradientColor;
}
